/**********************************************************************************************

	Title: CSS for xuedeisgn
	Author: Elmo Wu (by xuedesign studio)
	Date: 2014/09

***********************************************************************************************
		1 通用
		2.基本結構
		  2.1 頁面頂部
		  2.2 網站主選單
		  2.3 完美底部布局
		  2.4 版權列
		  2.5 頁面中間區塊
		  2.6 側邊產品選單
		3.內頁結構
		  3.1 首頁
		     		
***********************************************************************************************/

/* 1. 通用 
===============================================================================================*/
body{
	background:#fff;
	font-family: "微軟正黑體","Microsoft JhengHei","新細明體","PMingLiU", Arial, Helvetica, sans-serif;
	font-size:100%;
	line-height:20px;
	color:#2c2c2c}
a:link {text-decoration:none; color:#2c2c2c}
a:visited {text-decoration:none; color:#8c8c8c}
a:hover {text-decoration:underline; color:#ad3713}
form{margin:0; padding:0}
img{border:0}
.clean{ clear:both}
.hidden{ display:none}

.tc{ letter-spacing:4px}
.pleft_95{ padding-left:95px}
.pright_18{ padding-right:18px}

@font-face{ font-family:NotoSansHant-Black; src:url(../fonts/NotoSansHant-Black.otf)}
@font-face{ font-family:NotoSansHant-Regular; src:url(../fonts/NotoSansHant-Regular.otf)}
@font-face{ font-family:NotoSansHant-Bold; src:url(../fonts/NotoSansHant-Bold.otf)}
@font-face{ font-family:NotoSansHant-Light; src:url(../fonts/NotoSansHant-Light.otf)}
@font-face{ font-family:NotoSansHant-DemiLight; src:url(../fonts/NotoSansHant-DemiLight.otf)}
@font-face{ font-family:NotoSansHant-Medium; src:url(../fonts/NotoSansHant-Medium.otf)}
@font-face{ font-family:NotoSansHant-Thin; src:url(../fonts/NotoSansHant-Thin.otf)}

/* 2.基本結構
===============================================================================================*/
#wrap{ display:block; width:100%}

/* 2.1 頁面頂部 */
header{
	display:block;
	width:100%;
	height:135px;
	background:url(../images/bg_header.png) repeat-x}
#header_main{ 
    display:block; 
	width:1240px; 
	margin:0 auto;
	padding-top:44px}
h1 a{ display:block;
    float:left;
    background:url(../images/logo.png) no-repeat;
    width:404px;
    height:79px;
    text-indent:-9999px}
#box_topright{
	display:block;
	float:right;
	position:relative}
#box_topright p{
	display:block;
	background:url(../images/pic_tel.png) no-repeat;
	width:285px;
	height:34px;
	text-indent:-9999px;
	margin:0 0 20px 500px}			
	
/* 2.2 網站主選單 */
nav{ 
    display:block;
	margin-left:105px}
nav li{
	display:inline-block; 
	text-indent:-9999px}
.nav_01, .nav_02, .nav_03, .nav_04, .nav_05, .nav_06{ 
    display:block; 
	height:28px; 
	background:url(../images/bg_nav.png) no-repeat}
.nav_01, .nav_02, .nav_03, .nav_04, .nav_05, .nav_06{ width:103px}	
.nav_01{ background-position: 0 0}
.nav_01:hover, .nav_01.navin{ background-position: 0 -28px}
.nav_02{ background-position: 0 -56px}
.nav_02:hover, .nav_02.navin{ background-position: 0 -84px}
.nav_03{ background-position: 0 -112px}
.nav_03:hover, .nav_03.navin{ background-position: 0 -140px}
.nav_04{ background-position: 0 -168px}
.nav_04:hover, .nav_04.navin{ background-position: 0 -196px}
.nav_05{ width:159px; background-position: 0 -224px}
.nav_05:hover, .nav_05.navin{ background-position: 0 -252px}
.nav_06{ background-position: 0 -280px}
.nav_06:hover, .nav_06.navin{ background-position: 0 -308px}

/* 2.3 完美底部布局*/
html, body, #wrap {height: 100%}
body > #wrap {height: auto; min-height: 100%}
#main_content{ padding-bottom:80px}
.clearfix:after {content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden}
.clearfix {display: inline-block}
* html .clearfix { height: 1%}
.clearfix {display: block}

/* 2.4 版權列 */
footer{ 
    display:block;
    width:100%;
	height:80px;
    background: url(../images/bg_footer.png) repeat-x;
    margin-top: -80px;
	color:#FFF;
	text-align:center}
footer p{
	text-align:center;
	font-size:.813em;
	line-height:28px;
	letter-spacing:1px}
footer ul{ padding-top:11px}	
footer li{
	display:inline;
	font-size:.938em;
	line-height:25px;
	padding: 0 10px 0;
	text-shadow: 1px 1px 5px #A0A0A0}
footer a:link {text-decoration:none; color:#fff}
footer a:visited {text-decoration:none; color:#fff}
footer a:hover {text-decoration:underline; color:#84210D}			
	 
/* 2.5 頁面中間區塊 */	
#container{
	display:block;
	width:100%}

/* 2.6 側邊產品選單 */

   



/* 3.內頁結構
===============================================================================================*/
/*3-1 首頁*/
#banner_slider{
	display:block;
	width:1163px;
	height:278px;
	margin:0 auto}
#banner_slider h3{ display:none}	
#box_profile{
	display:block;
	width:100%;
	height:288px;
	background:url(../images/bg_profile.png) repeat-x}
#main_profile{
	display:block;
	width:1162px;
	margin:0 auto;
	padding:55px 0 62px 0}
#main_profile h3, #main_profile p{ 
    display:block;
	float:left}
#main_profile h3{
	background:url(../images/pic_sublogo.png) no-repeat;
	width:124px;
	height:138px;
	text-indent:-9999px}
#main_profile p{
	font-size:0.938em;
	line-height:25px;
	text-shadow: 1px 1px 3px #fcf2bb}
.profile_01{ width:445px; padding: 0 30px}
.profile_02{ width:525px}

#list_products{ 
    display:block;
	width:1162px;
	margin:0 auto 10px auto;
	padding:40px 0}
#list_products h3{
	display:block;
	background:url(../images/title_productlist.png) no-repeat;
	width:1155px;
	height:21px;
	text-indent:-9999px;
	margin-bottom:38px}
#list_products h4{ display:none}
.box_plist-01 li{ float:left; margin:0 8px 20px}
.box_plist-01 li a, .box_plist-02 li a{
	display: block;
	position:relative;
	padding:8px;
	border:1px solid #E6E6E6}
.box_plist-01 li a{ width:545px}	
.box_plist-01 li a:hover, .box_plist-01 a:hover>img, .box_plist-02 li a:hover, .box_plist-02 a:hover>img{ border:1px solid #ad3713}
.box_plist-01 a>img, .box_plist-02 a>img{ border:1px solid #cacaca}
.box_plist-01 a>div, .box_plist-02 a>div{
	display:block;
	position:absolute;
	bottom:12px;
	height:31px;
	background:url(../images/bg_pplist-span.png) repeat-x}
.box_plist-01 a>div{ width:544px}	
.box_plist-01 a:hover>div, .box_plist-02 a:hover>div{ background:url(../images/bg_pplist-span.png) 0 -31px}	
.box_plist-01 h5, .box_plist-02 h5{
	position:absolute;
	bottom:3px;
	font-size:1em;
	line-height:25px;
	color:#FFF;
	letter-spacing:3px;
	padding-left:35px;
	background:url(../images/icon_arrow.png) 15px 6px no-repeat}	
.box_plist-02 li{ float:left; margin:0 8px 20px}
.box_plist-02 li a{ width:183px}
.box_plist-02 a>div{ width:184px}					
				   